@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #2c2b2b;
  background: #0f0f0f;
  background: linear-gradient(55% 180% at 5% 100%, #ba896433 0,#0a0a0a00 75%,rgba(10,10,10,0) 100%);
  /* background: radial-gradient(55% 180% at 5% 100%,#ba896433 0,rgba(10,10,10,0) 75%,rgba(10,10,10,0) 100%); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
